.alb-img {
	float: right;
	display: block;
	height: 400px;
	clear: both;
	margin-right: 10%;
}

.no-img {
	float: right;
	display: block;
	height: 400px;
	width: 400px;
	clear: both;
	margin-right: 10%;
	background-color: grey;
}

.alb {
	height: 300px;
	width:auto;
  	border: 2px solid rgba(0, 0, 0, 0.2);
}

.album-grid {
	display: block;
	margin: auto;
	width: 100%;
	text-align: center;
	margin-top: 35%;
}


.artist-name {
	float: right;
	margin-right: 10%;
	display: inline;
	z-index: -1;
	font-weight: bold;
}

/*.rating {
	float: left;
	clear: both;
	display: block;
	margin-top: 10%;
	position: absolute;
	margin-left: 2.5%;
}

.all-songs{
	float: left;
	clear: both;
	display: block;
	margin-top: 20%;
	position: absolute;
	margin-left: 2.5%;
}*/

.all-songs {
	float: left;
	clear: both;
	display: block;
	margin-top: 10%;
	position: absolute;
	margin-left: 2.5%;
}

.rating {
	float: left;
	clear: both;
	display: block;
	margin-top: 20%;
	position: absolute;
	margin-left: 2.5%;
}

.song-btn {
	width: auto;
	position: absolute;
	margin-left: 0;
}

.song-btn:hover {
	background-color: #d5e2ea;
}



/*#song-btn {
	margin-top: 25%;
	position: absolute;
	margin-left: 0px;
}*/