.artist-show {
	display: flex;
	//justify-content: space-between;
	flex-direction: flex-start;
	width: 1300px;
	height: 1400px;
	margin: 0 auto;
}

.artist-show-title {
	align-content: flex-end;
	margin-left: auto;
	margin-right: 45px;
}

.img {
	height: 400px;
	//float: right;
	margin-top: 10px;
	margin-left: auto;
	margin-right: 60px;
}
.alb-img {
	height: 400px;
}

.no-img {
	height: 400px;
	//float: right;
	margin-top: 70px;
	margin-left: auto;
	margin-right: 45px;
	background-color: grey;
}

.alb {
	height: 300px;
	width:auto;
	margin: 0;
}

.album-grid {
	flex-wrap: wrap;
	margin: 0 auto;
	width: 1300px;
	position: absolute;
	text-align: center;
	margin-top: 35%;
}

.inside-album-grid {
	display: inline-block;
	font-size: 0;
	padding-right: 25px;
}

.album-header {
	text-align: center;
	width: auto;
}
/*.rating {
	float: left;
	clear: both;
	display: block;
	margin-top: 10%;
	position: absolute;
	margin-left: 2.5%;
}

.all-songs{
	float: left;
	clear: both;
	display: block;
	margin-top: 20%;
	position: absolute;
	margin-left: 2.5%;
}*/

.all-songs {
	float: left;
	clear: both;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10%;
	position: absolute;
	margin-left: 2.5%;
}

.rating {
	float: left;
	clear: both;
	display: block;
	margin-top: 20%;
	position: absolute;
	margin-left: 2.5%;
}

.song-btn {
	width: auto;
	position: absolute;
	margin-left: 0;
}

.song-btn:hover {
	background-color: #d5e2ea;
}


/*#song-btn {
	margin-top: 25%;
	position: absolute;
	margin-left: 0px;
}*/