// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-name {
	font-weight: bold;
}

.user-name:hover {
	color: #d5e2ea;
}

.r {
	font-weight: bold;
}

.delete-rating:hover {
	background-color: #d5e2ea;

}

.rated {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row;
	max-width: 950px;
}

input.delete-account {
	margin-right: 5px;

}

.delete-account:hover {
	background-color: #d5e2ea;
}

.artist-search:hover {
	background-color: #d5e2ea;
}
